
body{
    background:url("../bg-img.png");
}

/*文章相关样式*/

/*用户头像*/
.author-avatar{
    height: 80px;
    width: 80px;
}

/*文章*/
.article{
    background-color: white;
    padding: 20px;
}
.panel-body img{

}


/*左侧栏*/
.left_menu_list .author-msg
{
    text-align: center;
}
.icon-list{
    font-size: 25px;
}