<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>王帆的博客</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery.js' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <style>
        a {
            text-decoration: none;

        }

        p {
            text-decoration: none;
        }
        .myclear{
            clear: both;
        }
    </style>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 " >
            {#导航条开始#}
            <div>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Dropdown <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Dropdown <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
            <div class="clear"></div>
            {#导航条结束#}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-lg-8 col-xs-12">
            {#            文章开始#}
            {% block article_list %}

            {% endblock %}
            {#文章结束#}

            <div class="col-md-8 col-xs-12" style="text-align: center">
                {{ page_html|safe }}
            </div>

        </div>
        <div class="col-md-4 col-lg-4 col-xs-12">
            {#            左边栏开始#}
            <div class="left_menu_list">
                <div class="author-msg">
                    <div class="panel panel-default">
                        <div class="panel-heading">博主</div>
                        <div class="panel-body">
                            <div>
                                <img src="/media/avatars/cr.png" alt="..." class="img-rounded">
                            </div>
                            <h3>King Fan</h3>
                            <hr>
                            <div>
                                <div class="alert alert-dismissable" role="alert">半路出道的程序员,目前专注Python</div>
                            </div>
                            <div class="icon-list">
                                <span class="label label-default">QQ</span>
                                <span class="label label-primary">Wechat</span>
                                <span class="label label-success">blog</span>
                                <span class="label label-info">emai</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="article-category-menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">文章分类</div>
                        <div class="panel-body">
                            {% for category in category_list %}
                                <p>
                                    <a href="/blog/category/{{ category.title }}/"><i class="fa fa-bookmark"
                                                                                      aria-hidden="true">&nbsp;&nbsp;&nbsp;{{ category.title }}({{ category.article_set.all.count }})</i></a>
                                </p>
                            {% endfor %}


                        </div>
                    </div>
                </div>

                <div class="article-tag-menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">文章标签</div>
                        <div class="panel-body">
                            {% for tag in tag_list %}
                                <p>
                                    <a href="/blog/tag/{{ tag.title }}/"><i class="fa fa-tag" aria-hidden="true">&nbsp;&nbsp;&nbsp;{{ tag.title }}({{ tag.article_set.all.count }})</i></a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="recent-article-menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">最近更新</div>
                        <div class="panel-body">
                            {% for article in article_recent %}
                                <p>
                                    <a href="/blog/tag/{{ article.title }}/">{{ article.title }}</a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="a-menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">友情链接</div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>

            </div>
            {#左边栏结束#}
        </div>
    </div>
</div>

<div class="top-btn " style="position: fixed;bottom: 10px;right: 10px">
    <a href="#" class="btn btn-success">返回顶部</a>
</div>
</body>
</html>