{% extends 'base.html' %}

{% block article_list %}
    <div class="article-list">
                {% for article in article_list %}
                    <!-- 文章 开始-->
                    <div class="article">
                        <div class="media">
                            <h3 class="media-heading"><a href="/article/{{ article.id }}/">{{ article.title }}</a></h3>
                            <hr>
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object author-avatar" src="/media/{{ article.user.avatar }}"
                                         alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="article-desc" style="height: 80px">
                                    {{ article.desc }}
                                </div>

                                <div class="article-footer">
                                    <hr>
                                    <span>发布于&nbsp;{{ article.create_time|date:'Y-m-d H:i:s' }}</span>
                                    {#                                    <span class="glyphicon glyphicon-comment">评论({{ article.comment_set.all.count }})</span>#}
                                    {#                                    <span class="glyphicon glyphicon-thumbs-up">点赞({{ article.articleupdown_set.all.count }})</span>#}
                                    <span class="glyphicon glyphicon-comment">评论({{ article.comment_count }})</span>
                                    <span class="glyphicon glyphicon-thumbs-up">点赞({{ article.up_count }})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- 文章 结束-->
                {% endfor %}
            </div>
{% endblock %}