
            {#            左边栏开始#}
            <div class="left_menu_list">
                <div class="author-msg">
                    <div class="panel panel-default">
                        <div class="panel-heading">博主</div>
                        <div class="panel-body">
                            <div>
                                <img src="/media/{{ user.avatar }}" alt="..." class="img-rounded" style="height: 150px;width: 150px">
                            </div>
                            <h3>{{ user.name }}</h3>
                            <hr>
                            <div>
                                <div class="alert alert-dismissable" role="alert">{{ user.desc }}</div>
                            </div>
                            <div class="icon-list">
                                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=346775206&site=qq&menu=yes"><span class="label label-primary"><i class="fa fa-qq" aria-hidden="true"></i>&nbsp;QQ</span></a>
                                <a target="_blank" href="/media/avatars/微信二维码.png"><span class="label label-primary"><i class="fa fa-weixin" aria-hidden="true"></i>&nbsp;微信</span></a>
                                <a target="_blank" href="https://www.cnblogs.com/Kingfan1993/"><span class="label label-success"><i class="fa fa-rss-square" aria-hidden="true"></i>&nbsp;blog</span></a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="article-category-menu">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-th-large" aria-hidden="true"></i>&nbsp;文章分类</div>
                        <div class="panel-body">
                            {% for category in category_list %}
                                <p>
                                    <a href="/blog/category/{{ category.title }}/"><i class="fa fa-bookmark"
                                                                                      aria-hidden="true">&nbsp;&nbsp;&nbsp;{{ category.title }}({{ category.article_set.all.count }})</i></a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="article-tag-menu">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-tags" aria-hidden="true"></i>&nbsp;文章标签</div>
                        <div class="panel-body">
                            {% for tag in tag_list %}
                                <p>
                                    <a href="/blog/tag/{{ tag.title }}/"><i class="fa fa-tag" aria-hidden="true">&nbsp;&nbsp;&nbsp;{{ tag.title }}({{ tag.article_set.all.count }})</i></a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="recent-article-menu">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-fire" aria-hidden="true"></i>&nbsp;最近更新</div>
                        <div class="panel-body">
                            {% for article in article_recent %}
                                <p>
                                    <a href="/article/{{ article.id }}/">{{ article.title }}</a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="a-menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">友情链接</div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>

            </div>
            {#左边栏结束#}



